* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: scroll; */
}

body {
    font-family: 'Arial', sans-serif; /* Add a preferred font family */
}

.add-btn {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #ffe9ba;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-top: 2px solid black;
}

.add-btn button {
    background-color: rgb(255, 123, 0);
    width: 70px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#zoomp-btn,#zoomm-btn{

    font-size: 35px;
}

header {
    background-color: #ffe9ba;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    z-index: 5;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.layout {
    padding: 0;
    width: auto;
}

.rokad-layout {
    overflow: scroll;
    margin-top: 100px;
    background-color: #e0ffee;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
    margin-bottom: 80px;
    /* width: 1800px; Consider using max-width or media queries for responsiveness */
}

.topheading {
    text-align: center;
}

.topheading2 {
    display: flex;
    align-items: center;
    text-align: left;
}

.topheading2 h3 {
    margin-right: 17px;
}

.table-container {
    overflow-x: auto;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #000000;
    width: 1800px;
    
}

th, td {
    padding: 10px;
    border: 1px solid #000000;
    text-align: center;
}

th {
    background-color: #c0ffee;
}

p#panchaya_name {
    margin: 0;
}

.btn_edit_del {
    background-color: transparent;
    width: auto;
    border: none;
    outline: none;
    color: red;
    font-size: medium;
}

#Edit_button {
    color: black;
    margin-right: 20px;
    padding: 5px;
    background-color: aqua;
}
th:nth-child(4),
th:nth-child(13),
td:nth-child(4),
td:nth-child(13) {
    width: 300px;
}


td:nth-child(3),
td:nth-child(12),
th:nth-child(17) {
    max-width: 30px;
}

td:nth-child(18){
    min-width: 100px;
}

.eightth,
td:nth-child(8) {
    border-right: 6px double black;
}

#combinedTable td:nth-child(3) {
    width: 50px;
}

.rowblack {
    background-color: #9af299;
}

.highlight {
    background-color: rgb(210, 202, 218);
    font-style: italic;
}

th span {
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: center;
    white-space: nowrap;
}

/* Add any additional styles as needed */
#Praptiya {
    width: 1000px;
}

/* Add styles for responsive design if needed */
@media screen and (max-width: 600px) {
    /* Example media query for screens less than 600px wide */
    .rokad-layout {
        width: 100%;
    }
}
#confirmation-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Adjust the width as needed */
    background-color: #fff2f2;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    z-index: 10;
  }
  
  #confirmation-box h2 {
    margin-bottom: 20px;
  }
  
  #confirmation-box button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #confirmation-box button.yes {
      background-color: #f44336;
      color: #fff;
    }
    
    #confirmation-box button.no {
      background-color: #4CAF50;
    color: #fff;
  }
  #sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 7;
}

#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidebar a:hover {
    color: #f1f1f1;
}

#sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#ttrth {
    /* Added style to give space for sidebar */
    margin-left: 250px;
}