body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    max-width: 400px;
    margin: auto;
}

.f-div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

#submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.r-sssssssssform{
    background-color: #ff7a7a;
    border-radius: 10px;
}
.b-form{
    
    border-radius: 10px;
}
#rokadForm{
    background-color: rgb(99, 255, 27)(209, 144, 144);

}
#cancel-btn{
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.hidden{
    display: none;
}